<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    
    <h2>welcome,{{user}} to Dashboard</h2>
    <h2>1.<a href="{{url_for('viewStudent')}}">View Student</a></h2>
    <br>
    <h2>2.<a href="{{url_for('addStudent')}}">Add Student</a></h2>
    <br>
    <h2>3.<a href="{{url_for('viewremoveStudent')}}">Remove Student</a></h2>
    <br>
    <h2>4.<a href="{{url_for('viewUpdateStudent')}}">Update Student</a></h2>
    <br>
    <h2>5.<a href="{{url_for('logOut')}}">logOut</a></h2>
 
</body>
</html>